container_commands:
  00_touch:
    command: 'touch /tmp/container-commands.config.$(date +"%Y-%m-%dT%H:%M:%S.%N").touch'
  01_env:
    command: 'env > /tmp/container-commands.config.$(date +"%Y-%m-%dT%H:%M:%S.%N").env'
  02_docker_ps:
    command: 'docker ps > /tmp/containers.txt'
  03_docker_images:
    command: 'docker images > /tmp/images.txt'
  04_docker_command_1:
    leader_only: true
    command: |
      docker run --rm \
         -e RDS_HOSTNAME="$RDS_HOSTNAME" \
         -e RDS_USERNAME="$RDS_USERNAME" \
         -e RDS_PASSWORD="$RDS_PASSWORD" \
         aws_beanstalk/staging-app env > /tmp/docker.staging.env
