container_commands:
  01_docker_ps:
    command: 'docker ps > /tmp/containers.txt'
  02_docker_images:
    command: 'docker images > /tmp/images.txt'
  03_docker_command_1:
    # Can be updated to DJango migrate
    leader_only: true
    command: |
      docker run --rm \
         -e RDS_HOSTNAME="$RDS_HOSTNAME" \
         -e RDS_USERNAME="$RDS_USERNAME" \
         -e RDS_PASSWORD="$RDS_PASSWORD" \
         aws_beanstalk/staging-app env > /tmp/docker.staging.env
